
.card-data {
  display: flex;
  justify-content: end;
}

.p {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

.card-content-title {
  margin-bottom: 12px;
}

.align-content {
  display: flex;
}

.card-detail {
  display: inline-flex;
  column-gap: 40px;
}

.blue-font {
  color: var(--anchor-tag);
  font-size: 16px;
  font-weight: 500;
}

.b {
  color: var(--common-text);
}

.input-data {
  color: var(--common-text);
}

.ion-card {
  padding: 24px 40px;
}

.button-position {
  display: flex;
  justify-content: end;

  ion-button {
    margin-left: 25px;
    height: auto !important;
    margin: 4px -5px 4px -5px;
    color: var(--ion-color-side-navbar);
  }
}

.bill-title-position {
  margin-top: 32px;
  margin-bottom: 24px;
}

.sub-heading {
  display: flex;
  padding-bottom: 24px;

  div {
    margin-right: 32px;
  }

  ion-note {
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  ion-text {
    color: var(--common-text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

// popup detail
.model-inline {
  padding: 0 40px;
}

.scroll-height {
  overflow: auto;
  margin-top: 15px;
  padding: 0 25px 0 40px;
}

.margin-col {
  margin-bottom: 16px
}

.modal-title-heading {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.model-footer-button {
  padding: 10px 0;
  background: #F6F6F6;
}

.close-btn {
  display: flex;
  justify-content: end;
  margin-right: 40px;
  border-radius: 5px;
  height: 40px;
}

.close-btn-label {
  background-color: #6495ED;
  color: #FFFFFF;
  border-radius: 5px;
  height: 44px;
}

.menu-btn-text {
  padding: 12px 40px !important
}

.model_header {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #212121;
}

.model {
  padding: 20px;
}

.modal-popup {
  .header-content {
    padding: 40px 0px 0px 24px;
  }
}
