ion-content {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-card {
        display: flex;
        height: 96%;
        justify-content: center;
        // align-items: center;

        a {
            color: #1b6dff;
            font-size: 20px;
            text-decoration: underline;
        }
    }
}